<div class="container py-5">
  <h1>Add new movie to list</h1>
  <%= simple_form_for [@list, @bookmark]  do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.button :submit %>
  <% end %>
</div>
