.navbar-lewagon {
  justify-content: space-between;
  background: #121212 !important;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    height: 30px;
  }
  .nav-item .nav-link {
    padding-right: 12px;
    padding-left: 12px;
  }
  .nav-item > span {
    display: inline-block;
    height: 100%;
    width: 2px;
    background-color: #464646;
    margin: 0 20px;
  }
}
